.prose {
  @apply text-neutral-950 text-xl leading-[1.5];

  --shiki-color-text: theme(colors.white);
  --shiki-color-background: theme(colors.neutral.950);
  --shiki-token-constant: theme(colors.neutral.300);
  --shiki-token-string: theme(colors.neutral.400);
  --shiki-token-comment: theme(colors.neutral.500);
  --shiki-token-keyword: theme(colors.neutral.400);
  --shiki-token-parameter: theme(colors.neutral.400);
  --shiki-token-function: theme(colors.neutral.300);
  --shiki-token-string-expression: theme(colors.neutral.300);
  --shiki-token-punctuation: theme(colors.neutral.400);

  :where(& > *) {
    @apply mt-6 mb-6;
  }

  /* Headings */
  :where(h2) {
    @apply font-display font-semibold text-2xl leading-[1.5] mt-16;
  }

  :where(h3) {
    @apply font-display font-semibold text-xl leading-[1.5] mt-10;
  }

  :where(h2 + h3) {
    @apply mt-0;
  }

  /* Lists */
  :where(ul, ol) {
    @apply pl-6;
  }

  :where(ul) {
    @apply list-disc;
  }

  :where(ol) {
    @apply list-decimal;
  }

  :where(li) {
    @apply pl-2 mt-6;
  }

  /* Tables */
  :where(table) {
    @apply w-full text-left text-base leading-[1.5];
  }

  :where(th) {
    @apply font-semibold;
  }

  :where(thead th) {
    @apply pb-6 border-b border-neutral-950;
  }

  :where(td) {
    @apply py-6 border-b border-neutral-950/10 align-top;
  }

  :where(:is(th, td):not(:last-child)) {
    @apply pr-6;
  }


  :where(pre) {
    @apply my-2 rounded-xl;

    @screen sm {
      @apply p-4;
    }
  }

  /* <hr> */
  :where(hr) {
    @apply border-neutral-950/10 my-24;
  }

  /* Inline text */
  :where(a) {
    @apply underline underline-offset-1 font-semibold;
  }

  :where(strong) {
    @apply font-semibold;
  }


  :where(h2 code, h3 code) {
    @apply font-bold;
  }

  /* Figures */
  :where(figure) {
    @apply mt-32 mb-32;
  }

  /* Spacing overrides */
  :where(.prose:first-child > :first-child),
  :where(li > :first-child) {
    @apply mt-0 !important;
  }

  :where(.prose:last-child > :last-child),
  :where(li > :last-child) {
    @apply mb-0 !important;
  }
}
